<section id="blockButtonInner">
    <div class="container">
        <div class="buttonInner">
            <button routerLink="one" class="btn one">Первый тип</button>
            <button routerLink="two" class="btn two">Второй тип тип</button>
            <div>
                <div class="acc">
                    <span>Описание первого блока</span>
                </div>
                <div id="disOne">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, obcaecati adipisci iusto quae voluptas nostrum expedita quia nulla laboriosam officia perspiciatis ab. Nobis, cumque temporibus hic labore consectetur non quo.</p>
                </div>
            </div>
            <div>
                <div class="acc">
                    <span>Описание второго блока</span>
                </div>
                <div id="disTwo">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>