*{
    color: #FFFFFF;
}

.inner{
    display: grid;
    grid-template-columns: 50% 50%;

    margin-top: 8%;
}
@media(max-device-width: 1024px){
    .inner{
        display: flex;
        flex-direction: column;
    }
}

/* Right side*/
.informationInnerMain{
    align-items: center;
}
@media(max-device-width: 480px){
    .informationInnerMain{
        
    }
}
#textHead{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 225%;
    line-height: 51px;
}

@media(max-device-width: 1024px){
    #textHead{
       font-size: 300%;
       line-height:normal;
       margin: 0 auto;
       margin-top: 10%;
       text-align: center;
    }
}
@media(max-device-width: 480px){
    #textHead{
       font-size: 180%;
       line-height:normal;
       margin: 0 auto;
       margin-top: 10%;
       text-align: center;
    }
}
li{
    font-size: 36px;    
}
@media(max-device-width: 480px){
    ul{
        margin-top: 5%;
        margin-bottom: 10%;
    }
    li{
        font-size: 150%;
    }
}
button{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 58px;

    width: 416px;
    height: 76px;
    left: 720px;
    top: 578px;

    background: #2B9EDD;
    border-radius: 15px;

    margin-left: 10%;
    margin-top: 10%;

    transition: 0.4s;

    border: none;
}
span{
    transition: 0.2s;
}
button:hover{
    background: linear-gradient(180deg, #65C9FF 0%, rgba(101, 201, 255, 0) 100%);
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
}
button:hover span{
    color: #3E3E3E;
    transform: scale(10%);
}

@media(max-device-width: 1024px){
    button{
        font-size: 200%;

        margin: 0 auto;
        margin-top: 10%;

        width: 100%;
        height: auto;
    }
}
@media(max-device-width: 880px){
    button{
        margin-bottom: 10%;
    }
}
@media(max-device-width: 480px){
    button{
        font-size: 150%;
        z-index: 1;

        margin: 0 auto;
        margin-bottom: 10%;

        width: 100%;
        height: auto;
    }
}
/* Left side */
.vectorGirlInner{

    width: 448px;
    height: 323px;
    left: 139px;
    top: 205px;

    background: url(/design/mainPage/vectorGirl.jpg);
    box-shadow: 0px 50px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
}
@media(max-device-width: 480px){
    .vectorGirlInner{
        left: 0; 
        top: 0;
        width: 300px;
        height: 216.29px;

        box-shadow: 0px 10px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        margin: 0 auto;
    }
}
@media(max-device-width: 1024px){
    .vectorGirlInner{
        left: 0; 
        top: 0;
        /* width: 300px;
        height: 216.29px; */

        box-shadow: 0px 10px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        margin: 0 auto;
    }
}