
<section id="main">
    <div class="container">
        <div class="inner">
            <div class="photoInnerMain">
                <img src="G:\ПроектыТОГУ\testSite\psychotestTOGU\psychotest-app\design\mainPagevectorGirl.jpg" alt="123">
                <div class="vectorGirlInner">

                </div>
            </div>
            <div class="informationInnerMain">
                <span id="textHead">Профессиональная ориентация</span>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing.</li>
                </ul>
                <button routerLink="/test"><span>Пройти тест!</span></button>
            </div>
        </div>
    </div>
</section>
