
<section id="main">
    <div class="container">
        <div class="inner">
            <div class="photoInnerMain">
                <div class="vectorGirlInner">

                </div>
            </div>
            <div class="informationInnerMain">
                <h1 id="textHead">Три шага к выюору профессии:</h1>
                <ul>
                    <li>Желание</li>
                    <li>Потребность</li>
                    <li>Возможность</li>
                </ul>
                <button routerLink="/test"><span>Пройти тест!</span></button>
            </div>
        </div>
    </div>
</section>