
<section id="main">
    <div class="container">
        <div class="inner">
            <div class="photoInnerMain">
                <!-- <div class="vectorGirlInner">&nbsp;-&nbsp;

                </div> -->
                <h1 class="textHeadInfo">Твоё Образование Гарантия Успеха.</h1>
                <p id="infoInnerPNU">Дорогой друг, пройдя тестирование, ты сможешь узнать о своих способностях и получить информацию о подходящих тебе специальностях нашего университета. Сделай 3 шага к профессии своей мечты!</p>
                <div class="photoInner">
                    <!-- <span>Перейти на сайт ТОГУ</span> -->
                    <img alt="" src="https://pnu.edu.ru/media/filer_thumbnails/2012/07/05/pnu.jpg__500x275_q85_crop_upscale.jpg">
                </div>
            </div>
            <div class="informationInnerMain">
                <h1 class="textHead">Три шага к выбору профессии:</h1>
                <ul>
                    <li>Желание</li>
                    <li>Потребность</li>
                    <li>Возможность</li>
                </ul>
                <button routerLink="/test"><span>Пройти тест!</span></button>
            </div>
        </div>
    </div>
</section>