<p>block-one works!</p>
<div class="container">
    <div>
        <h3>Ответы на первый тест</h3>
        <form name="blokcOneFormOne">
            <div class="blockInputInner">
                <span>Природа</span>
                <input [(ngModel)]="test.OneNature" name="b1f1i1">
            </div>
            <div class="blockInputInner">
                <span>Технологии</span>
                <input [(ngModel)]="test.OneTechnology" name="b1f1i2">
            </div>
            <div class="blockInputInner">
                <span>Человек</span>
                <input [(ngModel)]="test.OneHuman" name="b1f1i3">
            </div>
            <div class="blockInputInner">
                <span>Знак</span>
                <input [(ngModel)]="test.OneSign" name="b1f1i4">
            </div>
            <div class="blockInputInner">
                <span>Артист</span>
                <input [(ngModel)]="test.OneArtistic" name="b1f1i5">
            </div>
            <button (click)="check()">Подтвердить первый тест</button>
        </form>
        <h3>test2</h3>
        <form name="blockOneFormTwo">
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            <div class="grid4">
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
                <div class="blockInputInner">
                    <span>Природа</span>
                    <input [(ngModel)]="test.OneNature" name="b1f2i1">
                </div>
            </div>
            
        </form>
        <h3>test4</h3>
        <div>
            <div>
                <span></span>
                <input>
            </div>
        </div>
    </div>
</div>