@media(max-device-width: 820px){
    h2{
        font-size: 230%;
    }
}
.blockInputInner{
    display: grid;
    grid-template-columns: 10% 10%;
    margin-top: 0.2%;
}
.blockInputInner span{
    /*  background-color: #2B9EDD; */
    color: white;
}
@media(max-device-width: 480px){
    .blockOne{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }
    .blockOne .blockInputInner{
        grid-template-columns:none;
        justify-content: space-between;
    }
}
@media(max-device-width: 820px){
    .blockOne{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .blockOne .blockInputInner{
        grid-template-columns:none;
        
    }
}
/* manual block inner*/
#manual{
    /* display: none; */
}
li{
    font-size: 125%;
}
@media(max-device-width: 1440px){
    .imgTOGU{
        width: auto;
    }
}
@media(max-device-width: 1024px){
    .imgTOGU{
        width: 100%;
    }
}
@media(max-device-width: 820px){
    .imgTOGU{
        display: none;
    }
    .grid2.topDiv{
        display: block;
    }
}

/* GRID 4 */

.grid4{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* grid-template-rows: 10% 10%; */
    margin-top: 0.2%;
}
.grid4 .blockInputInner{
    grid-template-columns: 40% 40%;
}
@media(max-device-width: 480px){
    .grid4{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .grid4 .blockInputInner{
        margin-top: 1%; margin-bottom: 1%;
        justify-content: space-between;
    }
    .grid4 .blockInputInner:nth-child(2n){
        background-color: #65c9ff7a;
    }
}
@media(max-device-width: 820px){
    .grid4{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .grid4 .blockInputInner{
        margin-top: 1%; margin-bottom: 1%;
        justify-content: space-between;
    }
    .grid4 .blockInputInner:nth-child(2n){
        background-color: #65c9ff7a;
    }
}
@media(max-device-width: 1024px){
    .grid4 .blockInputInner input{
        margin-left: 10px;
    }
}
@media(max-device-width: 1440px){
    .grid4 .blockInputInner input{
        margin-left: 10%;
    }
}

/* GRID 3 */

.grid3{
    display: grid;
    grid-template-columns: repeat(3,30%);
}
.grid3 .blockInputInner{
    grid-template-columns: 30% 30%;  
}
@media(max-device-width: 480px){
    .grid3{
        display: flex;
        flex-direction: column;
    }
    .grid3 .blockInputInner{
        margin-top: 1%; margin-bottom: 1%;
        justify-content: space-between;
    }
    .grid3:nth-child(2n) .blockInputInner:nth-child(2n-1){
        background-color: #65c9ff7a;
    }
    .grid3:first-child .blockInputInner:nth-child(2n){
        background-color: #65c9ff7a;
    }
}
@media(max-device-width: 820px){
    .grid3{
        display: flex;
        flex-direction: column;
    }
    .grid3 .blockInputInner{
        margin-top: 1%; margin-bottom: 1%;
        justify-content: space-between;
    }
    .grid3:nth-child(2n) .blockInputInner:nth-child(2n-1){
        background-color: #65c9ff7a;
    }
    .grid3:first-child .blockInputInner:nth-child(2n){
        background-color: #65c9ff7a;
    }
}
@media(max-device-width: 1024px){
    .grid3 .blockInputInner input{
        margin-left: 30%;
    }
}
@media(max-device-width: 1440px){
    .grid3 .blockInputInner input{
        margin-left: 30%;
    }
}

/* GRID 2 */

.grid2{
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid2 .blockInputInner{
    grid-template-columns: 20% 20%;
}
.topDiv{
    align-items: center;
}

/* LINK */

a{
    transition: .2s;
}
.linkInner{
    margin-bottom: 2%;
    font-size: 20px;
    transition: 0.2s;
}
.linkInner:hover{
    transform: translateY(-5px);
}
.linkInner:hover a{
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media(max-device-width: 820px){
    .linkInner{
        font-size: 180%;
    }
}

/* BUTTON */

.submitButton{

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 58px;
    color: #fff;

    background: #167db4;
    border-radius: 15px;
    
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 5%;

    transition: 0.4s;

    border: none;
}
.submitButton:hover{
    background: linear-gradient(180deg, #65C9FF 0%, rgba(101, 201, 255, 0) 100%);
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
    color: #3E3E3E;
}
@media(max-device-width: 480px){
    .submitButton{
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 8%;

        font-size: 150%;
        line-height: normal;
    }
}
@media(max-device-width: 820px){
    .submitButton{
        align-items: center;

        margin-top: 5%;
        margin-bottom: 8%;

        font-size: 200%;
        line-height: normal;
    }
}

.linkButton{
    font-size: 75%;

    transition: .3s;

    background-color: #FCFEFF;

    border: 0.2px solid #3E3E3E;
    border-radius: 5px;

    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    /* padding: верх право лево низ */
}

.linkButton:hover a{
    box-shadow: none;
    color: #FCFEFF;
}
.linkButton:hover{
    background-color: #65C9FF;
    
}

/* INPUTS */

input{
    border-radius: 5px;
    border: 0.2px solid black;

    background-color: #FCFEFF;
}
@media(max-device-width: 820px){
    input{
        font-size: 150%;
    }
    .blockInputInner span{
        font-size: 150%;
    }
}